{% extends 'base.html.twig' %}

{% block title %}Edit Student{% endblock %}

{% block body %}
    <h1>Edit Student</h1>

    {{ include('frontoffice/student/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_frontoffice_student_index') }}">back to list</a>

    {{ include('frontoffice/student/_delete_form.html.twig') }}
{% endblock %}
